:root {
  --color-base: #fffcf3;    /* Light shades */
  --color-primary: #DE4423; /* Punch */
  --color-info: #281C23;    /* Thunder */
  /*--color-success: #788f43; *//* Sycamore */
  /*--color-success: #B0C5A4;*/
  --color-success: #9BCF53;
  /*--color-warning: #F57F0B;*/ /* Tahiti gold */
  --color-warning: #FFAF45;
  --color-danger: #F44336;  /* Pomegranate */
  /*--color-offwhite: #fcfcfc; *//* Offwhite */
  --color-offwhite: #fefefe; /* Offwhite */
}
