@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-gray-800 text-white font-bold px-6;
  display: inline;
  width: fit-content;
  border-radius: 20px;
  height: 40px;
}

.btn-clear {
  @apply btn;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.box {
  @apply p-3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table {
  @apply mx-4;
  background-color: var(--color-offwhite);
  border: 2px solid #f0f0f0;
  thead {
    @apply bg-gray-800 text-white;
  }
  th, td {
    @apply px-6 py-2;
  }
}

.form {
  @apply m-4 px-8 py-4 border flex w-full flex-col gap-4;
  max-width: 600px;
  background-color: var(--color-offwhite);
}

.header {
  @apply py-2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--color-offwhite);
  border-bottom: 2px solid #f0f0f0;
  padding-right: 50px;
  padding-left: 80px;
}

.front-title {
  @apply px-3 py-1;
  color: white;
  position: absolute;
  right: 20px;
  border-radius: 4px;
  background-color: var(--color-success);
}

.admin-title {
  @apply px-3 py-1;
  color: white;
  position: absolute;
  right: 20px;
  border-radius: 4px;
  background-color: var(--color-danger);
}

.webapp-title {
  @apply px-3 py-1;
  color: white;
  position: absolute;
  right: 20px;
  border-radius: 4px;
  background-color: var(--color-warning);
}

.left-drawer {
  height: 100vh;
  width: 80vw;
  max-width: 400px;
}
