@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-gray-800 text-white font-bold px-6;
  display: inline;
  width: fit-content;
  border-radius: 20px;
  height: 40px;
}

.box {
  @apply p-3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table {
  @apply mx-4;
  background-color: var(--color-offwhite);
  border: 2px solid #f0f0f0;
  thead {
    @apply bg-gray-800 text-white;
  }
  th, td {
    @apply px-6 py-2;
  }
}

